*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
proguard-rules.pro
/gradle.properties
/gradlew
/gradlew.bat
.idea/
data/libs/
data/proguard-rules.pro
data/src/androidTest/
data/src/main/res/drawable/
data/src/test/
domain/libs/
domain/proguard-rules.pro
domain/src/androidTest/
domain/src/main/res/drawable/
domain/src/test/
gradle.properties
gradlew
gradlew.bat
presentation/libs/
presentation/presentation-release.apk
presentation/proguard-rules.pro
presentation/src/androidTest/
presentation/src/test/
